@import "../../assets/css/config";

.math-chem-type-ckEditor-container {
  width: 100%;
  overflow: hidden !important;
  .ck.ck-toolbar {
    border-radius: 6px 6px 0 0 !important;
    background-color: #f2f2f2;
    border: 1px solid #e9ecef;
    border-bottom: 0;
    min-height: 44px;
  }
  .ck.ck-reset_all,
  .ck.ck-reset_all * {
    font: unset;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 14px;
    column-gap: 10px;
  }

  .ck.ck-button__label {
    // font-size: 12px;
    font-weight: 500;
  }

  .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
    background-color: #f2f2f2;
    // background-color: #fff;
    border: 1px solid #e9ecef;
    border: none;
    border-top: none;
    min-height: 190px;
    max-height: 500px;
    box-shadow: unset;
    border-radius: 0 0 6px 6px !important;


    p {
      color: #212121;
      font-weight: 400;
      font-size: 14px;
    }
    h2,
    h3,
    h4 {
      color: #212121;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: $scrollbar-track-bg;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-thumb-bg;
      border-radius: 6px;
    }
  }
}

.editor-btn{
  font-size: 13px;
  padding: 4px 8px;
  margin-right: 5px;
  border: none;
}