$color-white: #ffffff;
$color-active: #28a745;
$color-active-hover: #218838;
$color-inactive: #6c757d;
$border-color-gray: rgb(220, 220, 220);
$border-color-light-gray: rgb(233, 236, 239);
$table-heading-color: #344767;
$table-header-color: #8392ab;
$table-body-color: rgb(103, 116, 142);
$theme-color: #11cdef;
$table-header-bg-color: #ffffff;
$table-header-text-color: #8392ab;
$table-body-bg-color: #ffffff;
$table-body-text-color: rgb(103, 116, 142);
$table-action-menu-bg-color: #ffffff;
$table-action-menu-bg-hover-color: #ebebeb;
$placeholder-color: #adb5bd;
$input-box-border-color: #d2d6da;
$dropdown-bg-color: #FFFFFF;
$dropdown-item-bg-color: #FFFFFF;
$dropdown-item-hover-bg-color: #FFFFFF;
$input-disabled-bg: rgba(239, 239, 239, 0.3);
$publish-card-bg: #FFFFFF;
// $scrollbar-thumb-bg: #055fbf;
$scrollbar-thumb-bg: rgba(94, 114, 228, 1);
$scrollbar-track-bg: #f1f1f1;
$answer-text-color: rgb(58, 219, 58);
// $pagination-active-box-color: rgb(17, 205, 239);
$pagination-active-box-color: rgba(52, 71, 103, 1);